<?xml version="1.0" encoding="utf-8"?>
<plugin id="org.rescue.nfcCardPlugin" version="0.7.0" xmlns="http://www.phonegap.com/ns/plugins/1.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/hello.js" target="js/hello.js"/>
    <asset src="www/RQAPDUController.js" target="js/RQAPDUController.js"/>

    <js-module name="hello" src="www/hello.js">
      <clobbers target="hello"/>
    </js-module>

    <js-module name="RQAPDUController" src="www/RQAPDUController.js">
      <clobbers target="RQAPDUController"/>
    </js-module>
    <platform name="android">

      <config-file parent="/*" target="res/xml/config.xml">
        <feature name="Hello">
          <param name="android-package" value="com.example.plugin.Hello"/>
        </feature>
      </config-file>

      <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/>
    </platform>

    <platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="RQAPDUController">
          <param name="ios-package" value="RQAPDUController"/>
        </feature>
      </config-file>

      <header-file src="src/ios/AudioJack/Dummy.mm" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRAesTrackData.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRAudioJackReader.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRCRC16.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRDukptReceiver.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRDukptTrackData.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRResult.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRStatus.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRTrack1Data.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRTrack2Data.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/ACRTrackData.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/AJDHex.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/AudioJack.h" target-dir="NFCPlugin/AudioJack"/>
      <header-file src="src/ios/AudioJack/AudioJackErrors.h" target-dir="NFCPlugin/AudioJack"/>
      <source-file src="src/ios/AudioJack/AJDHex.m" target-dir="NFCPlugin/AudioJack"/>

      <header-file src="src/ios/RQAPDUController.h" target-dir="NFCPlugin"/>
      <source-file src="src/ios/RQAPDUController.m" target-dir="NFCPlugin"/>

      <source-file framework='true' src="src/ios/AudioJack/libAudioJack.a" target-dir="NFCPlugin/AudioJack"/>
      <framework src="AudioToolbox.framework"/>
      <framework src="libc++.dylib"/>
    </platform>

    <platform name="wp7">
      <source-file src="src/wp7/Hello.cs"/>
    </platform>

  </plugin>
